#pr {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
#pr-total {
  /* background-color: rgba(0, 0, 0, 0.123); */
  width: fit-content;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.678);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.116);
  height: fit-content;
}
#pr-total div {
  padding: 10px;
  font-weight: bold;
}
#pr-total > div:first-child {
  font-size: larger;
}
#pr-total div:nth-of-type(2) {
  text-align: center;
}
#pr-total-likes-2d {
  height: 200px;
}
#pr-cat-vs-likes,
#pr-cat-vs-views,
#pr-cat-vs-timeSpent,
#pr-users-reg {
  height: fit-content;
  padding: 20px;
  width: 620px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
#pr-cat-vs-views {
  width: 300px;
}
.pr-title {
  text-align: center;
  padding-top: 10px;
  font-size: large;
  color: rgba(0, 0, 0, 0.678);
  font-weight: bold;
}
@media screen and (max-width: 860px) {
  #pr div {
    width: fit-content;
  }
}
