label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 102, 255);
  /* font-weight: bold; */
  font-size: large;
}
label p {
  margin-bottom: 5px;
}
p {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
@media screen and (max-width: 630px) {
  #top-header {
    display: none;
  }
}
